#animalName label {
    display: table-cell;
    vertical-align: bottom;
}

.animalHeader {
    display: flex;
    align-items: flex-end;
}

#animalName {
    font-size: x-large;
    font-weight: bold;
}

#adopt .btn, .commentBox button {
    max-width: 150px;
    max-height: 60px;
    text-transform: none;
    color: white;
    background-color: rgba(63, 81, 181, 0.9);
}

.anInfoCard button {
    width: 100%;
    max-height: 60px;
    text-transform: none;
    color: white;
    background-color: rgba(63, 81, 181, 0.9);
}

#adopt .btn:hover, .commentBox button:hover, .anInfoCard button:hover {
    background-color: rgba(63, 81, 181, 1);
    color: white;
}

.anInfoCard {
    height: 100%;
    max-width: 100%;
    word-wrap: break-word;
    min-width: max-content;
}

#myCarousel, #myCarousel .carousel-inner, #myCarousel .carousel-inner img {
    height: 460px;
    width: 100%;
}

.anLocCard {
    height: 100%;
    max-width: 100%;
    word-wrap: break-word;
    min-width: max-content;
}

.commentCard {
    height: 100%;
    max-width: 100%;
    min-width: 100%;
}

.detailCard {
    height: 100%;
    max-width: 100%;
    min-width: 100%;
}

.details .list-group {
    min-width: max-content;
    height: 100%;
}

.detail .table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

.carousel-inner .item img {
    width: auto;
    height: auto;
}

.card-header {
    background-color: rgba(63, 81, 181, 0.9);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.commentBox textarea {
    resize: none;
}

.commentTable tr {
    height: 100px;
}

.commentTable thead tr {
    height: 40px;
}

#myCarousel img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.commentBox button {
    text-align: center;
}

.commentBox label {
    min-width: max-content;
    font-weight: bold;
}

.commentID {
    width: 10%;
}

.userName {
    width: 20%;
}

.commentCont {
    width: 50%;
}

.postTime {
    width: 20%;
}

#modal-lg-applyForAdopt .modal-header {
    background-color: rgba(63, 81, 181, 0.9);
    color: white;
}

#modal-lg-applyForAdopt .modal-header button {
    color: white;
}

.modal-footer .btn-default, .modal-footer .btn-primary {
    color: white;
    background-color: rgba(63, 81, 181, 0.9);
}

.modal-footer .btn-default:hover, .modal-footer .btn-primary:hover {
    color: white;
    background-color: rgba(63, 81, 181, 1);
}

#adoptForm textarea {
    resize: none;
    min-height: 200px;
    width: 100%;
}

#telephone {
    background-color: white;
}

#street {
    background-color: white;
}

#town {
    background-color: white;
}

#postcode {
    background-color: white;
}

#country {
    background-color: white;
}

#family {
    background-color: white;
}

input[name=ownAnimals] {
    background-color: white;
}

#reason {
    background-color: white;
}